<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type='text/css' href="{{url_for('static', filename='css/main.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <title>Погода</title>
</head>
<body>
    {% block content %}
        <header>
            <h4 class="city">{{ city }}</h4>
            <a href="/settings" class="settings_btn">Настройки</a>
            <a href="/logout" class="logout_btn">Выйти из аккаунта</a>
        </header>
        <div class="weather_block">
            <div class="wrapper">
                <div class="picture_container">
                    {% if 0 <= weather['weather_code'] <= 4 %}
                        <img src="{{url_for('static', filename='images/weather_pack/cloudy-forecast-sun-svgrepo-com.svg')}}" alt="" class="weather_pic">
                    {% elif 5 <= weather['weather_code'] <= 12 or 18 <= weather['weather_code'] <= 19 or 30 <= weather['weather_code'] <= 35 or 40 <= weather['weather_code'] <= 49 %}
                        <img src="{{url_for('static', filename='images/weather_pack/climate-forecast-hurricane-svgrepo-com.svg')}}" alt="" class="weather_pic">
                    {% elif weather['weather_code'] == 13 %}
                        <img src="{{url_for('static', filename='images/weather_pack/energy-forecast-lightning-svgrepo-com.svg')}}" alt="" class="weather_pic">
                    {% elif 14 <= weather['weather_code'] <= 21 or 60 <= weather['weather_code'] <= 69 %}
                        <img src="{{url_for('static', filename='images/weather_pack/climate-cloud-forecast-3-svgrepo-com.svg')}}" alt="" class="weather_pic">
                    {% elif weather['weather_code'] == 22 %}
                        <img src="{{url_for('static', filename='images/weather_pack/forecast-snowflake-flakes-svgrepo-com.svg')}}" alt="" class="weather_pic">
                    {% elif 36 <= weather['weather_code'] <= 39 or 70 <= weather['weather_code'] <= 79 %}
                        <img src="{{url_for('static', filename='images/weather_pack/climate-cloud-forecast-4-svgrepo-com.svg')}}" alt="" class="weather_pic">
                    {% elif 23 <= weather['weather_code'] <= 26 %}
                        <img src="{{url_for('static', filename='images/weather_pack/climate-cloud-forecast-svgrepo-com.svg')}}" alt="" class="weather_pic">
                    {% elif 27 <= weather['weather_code'] <= 28 %}
                        <img src="{{url_for('static', filename='images/weather_pack/climate-cloud-forecast-2-svgrepo-com.svg')}}" alt="" class="weather_pic">
                    {% elif weather['weather_code'] == 29 %}
                        <img src="{{url_for('static', filename='images/weather_pack/cloud-forecast-lightning-svgrepo-com.svg')}}" alt="" class="weather_pic">
                    {% elif 50 <= weather['weather_code'] <= 59 %}
                        <img src="{{url_for('static', filename='images/weather_pack/climate-forecast-rain-svgrepo-com.svg')}}" alt="" class="weather_pic">
                    {% elif 80 <= weather['weather_code'] <= 99 %}
                        <img src="{{url_for('static', filename='images/weather_pack/climate-cloud-forecast-2-svgrepo-com.svg')}}" alt="" class="weather_pic">
                    {% endif %}
                </div>
                <div class="weather_info">
                    <h1 class="temperature">{{ weather['temperature_2m'] }}°C</h1>
                    <h2 class="wind_speed">{{ weather['wind_speed_10m'] }} {{ weather['wind_direction_10m'] }}</h2>
                </div>
            </div>
        </div>
        <footer>
            <div class="wrapper">
                <div class="footer_container">
                    {% if 0 <= weather['weather_code'] <= 4 %}
                        <p>
                            Сегодня облачно. Отличный день, чтобы сходить куда-нибудь!
                        </p>
                    {% elif 5 <= weather['weather_code'] <= 12 or 18 <= weather['weather_code'] <= 19 or 30 <= weather['weather_code'] <= 35 or 40 <= weather['weather_code'] <= 49 %}
                        <p>
                            На улице туман или ветер с пылью, не забудь головной убор.
                        </p>
                    {% elif weather['weather_code'] == 13 %}
                        <p>
                            На улице молнии, не купайся на открытом пространостве и держись дальше от одиночных деревьев!
                        </p>
                    {% elif 14 <= weather['weather_code'] <= 21 or 60 <= weather['weather_code'] <= 69 %}
                        <p>
                            На улице идёт дождь! Бери зонтик, а лучше посмотри хороший фильм дома, чтобы не заболеть)
                        </p>
                    {% elif weather['weather_code'] == 22 or 36 <= weather['weather_code'] <= 39 or 70 <= weather['weather_code'] <= 79 %}
                        <p>
                            Снег. Оденься потеплее и возьми перчатки.
                        </p>
                    {% elif 36 <= weather['weather_code'] <= 39 or 70 <= weather['weather_code'] <= 79 %}
                        <p>
                            Куртка, шарф, шапка. И штаны не забудь!!!
                        </p>
                    {% elif 23 <= weather['weather_code'] <= 26 %}
                        <p>
                            Куртка, шарф, шапка. И штаны не забудь!!!
                        </p>
                    {% elif 27 <= weather['weather_code'] <= 28 %}
                        <p>
                            Ожидается град, будь аккуратен, лучше не идти пешком, а поехать!
                        </p>
                    {% elif weather['weather_code'] == 29 %}
                        <p>
                            На улице гроза, если нужно на улицу, то возьми зонтик или дождевик.
                        </p>
                    {% elif 50 <= weather['weather_code'] <= 59 %}
                        <p>
                            На улице мороз, одевайся теплее.
                        </p>
                    {% elif 80 <= weather['weather_code'] <= 99 %}
                        <p>
                            На улице осадки и одевайся теплее!
                        </p>
                    {% endif %}
                </div>
            </div>
        </footer>   
    {% endblock %}
</body>
</html>