<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type='text/css' href="{{url_for('static', filename='css/register.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <title>Регистрация</title>

</head>
<body>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <!-- Begin page content -->
    <div class="wrapper">
        <div class="container">
            <h1>Регистрация</h1>
            <div class="forms_container">
                <p>
                    {{ form.username.label }}
                    {{ form.username(class="form-control", type="username") }}
                    {% for error in form.username.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                    {% endfor %}
                </p>
                <p>
                    {{ form.email.label }}
                    {{ form.email(class="form-control", type="email") }}
                    {% for error in form.email.errors %}
                    <div class="alert-danger" role="alert">
                        {{ error }}
                    </div>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}
                    {{ form.password(class="form-control", type="password") }}
                    {% for error in form.password.errors %}
                    <div class="alert-danger" role="alert">
                        {{ error }}
                    </div>
                    {% endfor %}
                </p>
                <p>
                    {{ form.confirm_password.label }}
                    {{ form.confirm_password(class="form-control", type="password") }}
                    {% for error in form.confirm_password.errors %}
                    <div class="alert-danger" role="alert">
                        {{ error }}
                    </div>
                    {% endfor %}
                </p>
                <p>
                    {{ form.list.label }}
                    {{ form.list(class="city_list") }}
                </p>    
            </div>
            <p>
                {{ form.submit(type="submit") }}
            </p>
            <div>{{ message }}</div>
        </div>
    </div>
    </form>
</body>
</html>